/* 기본 여백 제거 */
html, body {
  margin: 0;
  padding: 0;
}

/* 전체 배경 */
#e__12 {
  width: 100vw; /* 화면 가로 크기 100% */
  max-width: 1440px; /* 최대 너비 제한 */
  height: 100vh; /* 화면 세로 100% */
  max-height: 1024px; /* 최대 높이 제한 */
  top: -50px;
  margin: 0 auto; /* 가운데 정렬 */
  position: relative;
  background-color: #fff;
  overflow: hidden; /* 넘치는 내용 숨기기 */

   /* 이미지 배경 추가 */
  /* background-image: url('img.png');
  background-position: right top; 
  background-repeat: no-repeat;
  background-size: 337px 85px; */
}

/* iM your man – 왼쪽 상단 */
#e__3234 {
  position: absolute;
  width: auto;
  height: 58px;
  top: 80px;       /* 단위 px 추가 */
  left: 14px;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  white-space: nowrap; /* 줄바꿈 방지 */
}

#e__148 {
  position: absolute;
  top: 80px;       /* 단위 px 추가 */
  right: 0;
  width: 337px;
  height: 85px;
}

/* 안내 메시지 – 가운데 하단 */
#e__3235 {
  position: absolute;
  width: auto;
  height: 48px;
  top: 292px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 55px;
  line-height: 48px;
  color: #000000;
  white-space: nowrap; /* 줄바꿈 방지 */
  text-align: center;
}

/* 법인 버튼 배경 */
#e__217 {
  width: 311px;
  height: 259px;
  background-color: #82DF7E;
  position: absolute;
  top: 441px;
  left: 252px;
  border-radius: 100px;
  display: flex;
  align-items: center;     /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* 법인 텍스트 */
#e__212 {
  position: absolute;
  width: 74px;
  height: 48px;
  left: calc(50% - 74px/2 - 320px);
  top: 534px;
  font-weight: 700;
  font-size: 50px;
  line-height: 48px;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;     /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

/* 개인 버튼 배경 */
#e__218 {
  width: 311px;
  height: 254px;
  background-color: #82DF7E;
  position: absolute;
  top: 441px;
  left: 877px;
  border-radius: 100px;
  display: flex;
  align-items: center;     /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* 개인 텍스트 */
#e__215 {
  position: absolute;
  width: 74px;
  height: 48px;
  left: calc(50% - 74px/2 + 303px);
  top: 534px;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;     /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

.link-text {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 50px;
  line-height: 48px;
  color: #000000;
  text-decoration: none;
}
