/* Desktop - 1 */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Ellipse 1 */

position: absolute;
width: 269px;
height: 259px;
left: 301px;
top: 438px;

background: #55C0A6;


/* 법인 */

position: absolute;
width: 74px;
height: 48px;
left: calc(50% - 74px/2 - 284px);
top: 544px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #000000;



/* Ellipse 2 */

position: absolute;
width: 269px;
height: 259px;
left: 873px;
top: 438px;

background: #55C0A6;


/* 개인 */

position: absolute;
width: 74px;
height: 48px;
left: calc(50% - 74px/2 + 288px);
top: 544px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #000000;



/* image 1 */

position: absolute;
width: 337px;
height: 85px;
left: 1103px;
top: 0px;

background: url(image.png);


/* iM your man */

position: absolute;
width: 287px;
height: 58px;
left: 41px;
top: 43px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* 상자 높이와 동일 */
text-align: center;

color: #000000;



/* 원하시는 메뉴를 선택하십시오 */

position: absolute;
width: 497px;
height: 48px;
left: 474px;
top: 312px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #000000;

