@import url('https://fonts.googleapis.com/css2?family=Inter:Bold');

/* 기본 여백 제거 */
html, body {
  margin: 0;
  padding: 0;
}

.text-white { color: #FFFFFF; }
.bg-white { background-color: #FFFFFF; }
.text-black { color: #000000; }
.bg-black { background-color: #000000; }

#e__142 {
  width: 100vw;
  max-width: 1440px;
  height: 100vh;
  max-height: 1024px;
  top: -60px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

#e__148 {
  width: 337px;
  height: 85px;
  position: absolute;
  top: 90px;
  right: 0;
}

#e__149 {
  width: 287px;
  height: 58px;
  color: rgba(0, 0, 0, 1.00);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  position: absolute;
  top: 85px;
  left: 14px;
  height: 38px;
  text-align: center;
  font-size: 48px;
  white-space: nowrap;
}

#e__1410 {
  width: 390px;
  height: 48px;
  color: rgba(0, 0, 0, 1.00);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  position: absolute;
  top: 376px;
  left: 430px;
  text-align: center;
  font-size: 55px;
  white-space: nowrap;
}

#e__1412 {
  position: absolute;
  top: 545px;
  left: 114px;
  width: 989px;
  height: 70px;
  font-size: 28px;
  padding: 10px;
  border: 3px solid #000;
  box-sizing: border-box;
}

#e__1413 {
  border: 3px solid rgba(0, 0, 0, 1.00);
  width: 177px;
  height: 79px;
  background-color: rgba(255, 255, 255, 1.00);
  position: absolute;
  top: 545px;
  left: 1159px;
}

#e__1618 {
  position: absolute;
  top: 540px;
  left: 1159px;
  width: 177px;
  height: 79px;
  background-color: #000;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
